@model TestComplete.Models.DashboardModel

@{
    ViewBag.Title = "Index";
}

@if (Model.alreadyQueued)
{
    @Html.ActionLink("Terminé de Utilizarlo", "Liberar",null,new { @class="button_example"}) 
}
else
{
    @Html.ActionLink("Solicitar Usuario", "Esperar",null,new { @class="button_example"}) 
}

@Html.ValidationSummary(true)

<h2>Usuarios</h2>


<table width="99%">
    <tr>
        @foreach (var item in Model.Recursos) {
        <td width="33%">
            @if(item.Estado){
                <div class="usuario free">
                <h3>@item.Descripcion</h3>
                <hr />
                <text>
                    @Html.ActionLink("Usar", "Usar","Dashboard",new { RecursoId = item.RecursoId}, null) 
                </text>
                </div>
            }else{
                <div class="usuario busy">
                <h3>@item.Descripcion</h3>
                <hr />
                <p>En uso por:  @item.Usuario</p>

                <p><b>Team Viewer</b><br /> (  @item.UsuarioTV / simetrica01 )</p>     
                <text>
                    @Html.ActionLink("Esperar", "Esperar","Dashboard",new { RecursoId = item.RecursoId}, null) 
                </text>
                </div>
                
               
            }
            
        </td>
        }
    </tr>
    
</table>

<h2>Lista de Espera</h2>
<br />
<div class="usuario">
@foreach (var item in Model.Usuarios) {
    <p>
           -  @item.UserName 
    </p>
}
    </div>

<ul id="messages"></ul>

@section scripts{
    <script src="Scripts/jquery.signalR-0.5.3.js" type="text/javascript"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    
<!-- Start the presentation -->
<script type="text/javascript">
    $(function () {
        // SignalR hub initialization
        var presentation = $.connection.presentation;

        presentation.showSlide = function (slideId) {
           location.reload();
        };

        $.connection.hub.start(function () {
        });

    });
</script>

}